CREATE DATABASE nova CHARACTER SET utf8;
GRANT ALL PRIVILEGES ON nova.* TO 'nova'@'localhost' IDENTIFIED BY '{{ nova_db_password }}';
GRANT ALL PRIVILEGES ON nova.* TO 'nova'@'%'         IDENTIFIED BY '{{ nova_db_password }}';
