check process nova-scheduler with pidfile /var/run/nova-scheduler.pid
  start program = "/sbin/start-stop-daemon --start --quiet --background --pidfile /var/run/nova-scheduler.pid --chuid nova --chdir /var/run --name nova-scheduler --exec /usr/bin/nova-scheduler -- --config-file=/etc/nova/nova.conf"
  stop program  = "/sbin/start-stop-daemon --stop --quiet --retry=TERM/30/KILL/5 --pidfile /var/run/nova-scheduler.pid --name nova-scheduler"
