#!/bin/bash
set -eux
# ---------------------------------------------------------------------------
# modify config file
# ---------------------------------------------------------------------------
crudini --set /etc/nova/nova.conf DEFAULT debug True
crudini --set /etc/nova/nova.conf DEFAULT rpc_backend rabbit
crudini --set /etc/nova/nova.conf DEFAULT rabbit_hosts ${MESSAGING_IP}
crudini --set /etc/nova/nova.conf DEFAULT rabbit_password {{ messaging_password }}
crudini --set /etc/nova/nova.conf DEFAULT my_ip ${NOVA_IP}
crudini --set /etc/nova/nova.conf DEFAULT vncserver_listen ${NOVA_IP}
crudini --set /etc/nova/nova.conf DEFAULT vncserver_proxyclient_address ${NOVA_IP}
crudini --set /etc/nova/nova.conf DEFAULT auth_strategy keystone

crudini --set /etc/nova/nova.conf DEFAULT network_api_class nova.network.neutronv2.api.API
crudini --set /etc/nova/nova.conf DEFAULT neutron_url http://${NEUTRON_IP}:9696
crudini --set /etc/nova/nova.conf DEFAULT neutron_auth_strategy keystone
crudini --set /etc/nova/nova.conf DEFAULT neutron_admin_tenant_name service
crudini --set /etc/nova/nova.conf DEFAULT neutron_admin_username neutron
crudini --set /etc/nova/nova.conf DEFAULT neutron_admin_password {{ neutron_password }}
crudini --set /etc/nova/nova.conf DEFAULT neutron_admin_auth_url http://${KEYSTONE_IP}:35357/v2.0
crudini --set /etc/nova/nova.conf DEFAULT linuxnet_interface_driver nova.network.linux_net.LinuxOVSInterfaceDriver
crudini --set /etc/nova/nova.conf DEFAULT firewall_driver nova.virt.firewall.NoopFirewallDriver
crudini --set /etc/nova/nova.conf DEFAULT security_group_api neutron

crudini --set /etc/nova/nova.conf database connection mysql://nova:{{ nova_db_password }}@${NOVA_DATABASE_IP}/nova
crudini --set /etc/nova/nova.conf keystone_authtoken auth_host ${KEYSTONE_IP}
crudini --set /etc/nova/nova.conf keystone_authtoken auth_port 35357
crudini --set /etc/nova/nova.conf keystone_authtoken auth_protocol http
crudini --set /etc/nova/nova.conf keystone_authtoken admin_tenant_name service
crudini --set /etc/nova/nova.conf keystone_authtoken admin_user nova
crudini --set /etc/nova/nova.conf keystone_authtoken admin_password {{ nova_password }}

crudini --set /etc/nova/nova.conf DEFAULT service_neutron_metadata_proxy True
crudini --set /etc/nova/nova.conf DEFAULT neutron_metadata_proxy_shared_secret {{ metadata_proxy_shared_secret }}

crudini --set /etc/nova/nova.conf DEFAULT osapi_compute_workers 4
crudini --set /etc/nova/nova.conf DEFAULT ec2_workers 4
crudini --set /etc/nova/nova.conf DEFAULT metadata_workers 4
crudini --set /etc/nova/nova.conf conductor workers 4

# ---------------------------------------------------------------------------
# database initialization
# ---------------------------------------------------------------------------
if ! mysql -h ${NOVA_DATABASE_IP} -uroot -p{{ database_root_password }} nova -e "show tables;" | grep -q nova ;
then
  sudo -u nova -g nova nova-manage db sync
fi
# ---------------------------------------------------------------------------
# create work directories
# ---------------------------------------------------------------------------
mkdir -p /var/run/nova
chown nova:root /var/run/nova/
mkdir -p /var/lock/nova
chown nova:root /var/lock/nova/
# ---------------------------------------------------------------------------
# start service
# ---------------------------------------------------------------------------
monit -I -c /etc/monit/monitrc
