check process keystone with pidfile /var/run/keystone.pid
  start program = "/sbin/start-stop-daemon --start --quiet --background --make-pidfile --pidfile /var/run/keystone.pid --chuid keystone --chdir /var/lib/keystone --name keystone --exec /usr/bin/keystone-all"
  stop program  = "/sbin/start-stop-daemon --stop --quiet --retry=TERM/30/KILL/5 --pidfile /var/run/keystone.pid --name keystone"
