CREATE DATABASE cinder CHARACTER SET utf8;
GRANT ALL PRIVILEGES ON cinder.* TO 'cinder'@'localhost' IDENTIFIED BY '{{ cinder_db_password }}';
GRANT ALL PRIVILEGES ON cinder.* TO 'cinder'@'%'         IDENTIFIED BY '{{ cinder_db_password }}';
