check process cinder-scheduler with pidfile /var/run/cinder-scheduler.pid
  start program = "/sbin/start-stop-daemon --start --quiet --background --make-pidfile --pidfile /var/run/cinder-scheduler.pid --chuid cinder --chdir /var/run --name cinder-scheduler --exec /usr/bin/cinder-scheduler -- --config-file=/etc/cinder/cinder.conf --log-file=/var/log/cinder/cinder-scheduler.log"
  stop program  = "/sbin/start-stop-daemon --stop --quiet --retry=TERM/30/KILL/5 --pidfile /var/run/cinder-scheduler.pid --name cinder-scheduler"
