#!/bin/bash
set -eux
# ---------------------------------------------------------------------------
# modify config file
# ---------------------------------------------------------------------------
crudini --set /etc/neutron/neutron.conf DEFAULT verbose True
crudini --set /etc/neutron/neutron.conf DEFAULT debug True
crudini --set /etc/neutron/neutron.conf DEFAULT auth_strategy keystone
crudini --set /etc/neutron/neutron.conf keystone_authtoken auth_host ${KEYSTONE_IP}
crudini --set /etc/neutron/neutron.conf keystone_authtoken admin_tenant_name service
crudini --set /etc/neutron/neutron.conf keystone_authtoken admin_user neutron
crudini --set /etc/neutron/neutron.conf keystone_authtoken admin_password {{ neutron_password }}
crudini --set /etc/neutron/neutron.conf DEFAULT rpc_backend neutron.openstack.common.rpc.impl_kombu
crudini --set /etc/neutron/neutron.conf DEFAULT rabbit_host ${MESSAGING_IP}
crudini --set /etc/neutron/neutron.conf DEFAULT rabbit_password {{ messaging_password }}
crudini --set /etc/neutron/neutron.conf DEFAULT notify_nova_on_port_status_changes True
crudini --set /etc/neutron/neutron.conf DEFAULT notify_nova_on_port_data_changes True
crudini --set /etc/neutron/neutron.conf DEFAULT nova_url http://${NOVA_IP}:8774/v2
crudini --set /etc/neutron/neutron.conf DEFAULT nova_admin_username nova
crudini --set /etc/neutron/neutron.conf DEFAULT nova_admin_tenant_id ${SERVICE_TENANT_ID}
crudini --set /etc/neutron/neutron.conf DEFAULT nova_admin_password {{ nova_password }}
crudini --set /etc/neutron/neutron.conf DEFAULT nova_admin_auth_url http://${KEYSTONE_IP}:35357/v2.0
crudini --set /etc/neutron/neutron.conf DEFAULT core_plugin neutron.plugins.ml2.plugin.Ml2Plugin
crudini --set /etc/neutron/neutron.conf DEFAULT service_plugins neutron.services.l3_router.l3_router_plugin.L3RouterPlugin
crudini --set /etc/neutron/neutron.conf DEFAULT allow_overlapping_ips True

crudini --set /etc/neutron/plugins/ml2/ml2_conf.ini ml2 type_drivers gre
crudini --set /etc/neutron/plugins/ml2/ml2_conf.ini ml2 tenant_network_types gre
crudini --set /etc/neutron/plugins/ml2/ml2_conf.ini ml2 mechanism_drivers openvswitch
crudini --set /etc/neutron/plugins/ml2/ml2_conf.ini ml2_type_gre tunnel_id_ranges 1:1000
crudini --set /etc/neutron/plugins/ml2/ml2_conf.ini securitygroup firewall_driver neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver
crudini --set /etc/neutron/plugins/ml2/ml2_conf.ini securitygroup enable_security_group True
crudini --set /etc/neutron/plugins/ml2/ml2_conf.ini database connection mysql://neutron:{{ neutron_db_password }}@${NEUTRON_DATABASE_IP}/neutron
# ---------------------------------------------------------------------------
# database initialization
# ---------------------------------------------------------------------------
if ! mysql -h ${NEUTRON_DATABASE_IP} -uroot -p{{ database_root_password }} neutron -e "show tables;" | grep -q neutron ;
then
  sudo -u neutron -g neutron neutron-db-manage --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/ml2_conf.ini upgrade head
fi
# ---------------------------------------------------------------------------
# create work directories
# ---------------------------------------------------------------------------
mkdir -p /var/run/neutron
chown neutron:root /var/run/neutron
# ---------------------------------------------------------------------------
# start service
# ---------------------------------------------------------------------------
monit -I -c /etc/monit/monitrc
