#!/bin/bash
set -eux
MAINTENANCE_PORT=${MAINTENANCE_PORT:-{{ neutron_maintenance_ssh_port }}}
. /usr/local/bin/set_maintenance_port.sh
# ---------------------------------------------------------------------------
# modify config file
# ---------------------------------------------------------------------------
NEUTRON_DATABASE_IP=${NEUTRON_DATABASE_IP:-127.0.0.1}
MESSAGING_IP=${MESSAGING_IP:-127.0.0.1}
KEYSTONE_IP=${KEYSTONE_IP:-127.0.0.1}
NOVA_IP=${NOVA_IP:-127.0.0.1}
BIND_PORT=${BIND_PORT:-9696}
crudini --set /etc/neutron/neutron.conf DEFAULT verbose True
crudini --set /etc/neutron/neutron.conf DEFAULT debug True
crudini --set /etc/neutron/neutron.conf database connection mysql://neutron:{{ neutron_db_password }}@${NEUTRON_DATABASE_IP}/neutron
crudini --set /etc/neutron/neutron.conf keystone_authtoken signing_dir /var/cache/neutron
crudini --set /etc/neutron/neutron.conf keystone_authtoken auth_uri http://${KEYSTONE_IP}:5000/v2.0
crudini --set /etc/neutron/neutron.conf keystone_authtoken auth_host ${KEYSTONE_IP}
crudini --set /etc/neutron/neutron.conf keystone_authtoken auth_port 35357
crudini --set /etc/neutron/neutron.conf keystone_authtoken auth_protocol http
crudini --set /etc/neutron/neutron.conf keystone_authtoken admin_tenant_name service
crudini --set /etc/neutron/neutron.conf keystone_authtoken admin_user neutron
crudini --set /etc/neutron/neutron.conf keystone_authtoken admin_password {{ neutron_password }}
crudini --set /etc/neutron/neutron.conf DEFAULT rpc_backend neutron.openstack.common.rpc.impl_kombu
crudini --set /etc/neutron/neutron.conf DEFAULT rabbit_hosts ${MESSAGING_IP}
crudini --set /etc/neutron/neutron.conf DEFAULT rabbit_userid {{ messaging_user }}
crudini --set /etc/neutron/neutron.conf DEFAULT rabbit_password {{ messaging_password }}
crudini --set /etc/neutron/neutron.conf DEFAULT nova_url http://${NOVA_IP}:8774/v2
crudini --set /etc/neutron/neutron.conf DEFAULT nova_admin_username nova
crudini --set /etc/neutron/neutron.conf DEFAULT nova_admin_tenant_id ${SERVICE_TENANT_ID}
crudini --set /etc/neutron/neutron.conf DEFAULT nova_admin_password {{ nova_password }}
crudini --set /etc/neutron/neutron.conf DEFAULT nova_admin_auth_url http://${KEYSTONE_IP}:35357/v2.0
crudini --set /etc/neutron/neutron.conf DEFAULT core_plugin neutron.plugins.ml2.plugin.Ml2Plugin
crudini --set /etc/neutron/neutron.conf DEFAULT service_plugins neutron.services.l3_router.l3_router_plugin.L3RouterPlugin
crudini --set /etc/neutron/neutron.conf DEFAULT allow_overlapping_ips True
crudini --set /etc/neutron/neutron.conf DEFAULT lock_path /var/lock/neutron
crudini --set /etc/neutron/neutron.conf DEFAULT bind_port ${BIND_PORT}
crudini --set /etc/neutron/neutron.conf agent root_helper "sudo /usr/bin/neutron-rootwrap /etc/neutron/rootwrap.conf"

crudini --set /etc/neutron/plugins/ml2/ml2_conf.ini ml2 type_drivers gre
crudini --set /etc/neutron/plugins/ml2/ml2_conf.ini ml2 tenant_network_types gre
crudini --set /etc/neutron/plugins/ml2/ml2_conf.ini ml2 mechanism_drivers openvswitch
crudini --set /etc/neutron/plugins/ml2/ml2_conf.ini ml2_type_gre tunnel_id_ranges 1:1000
crudini --set /etc/neutron/plugins/ml2/ml2_conf.ini securitygroup firewall_driver neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver
crudini --set /etc/neutron/plugins/ml2/ml2_conf.ini database connection mysql://neutron:{{ neutron_db_password }}@${NEUTRON_DATABASE_IP}/neutron
crudini --set /etc/neutron/plugins/ml2/ml2_conf.ini agent root_helper "sudo /usr/bin/neutron-rootwrap /etc/neutron/rootwrap.conf"
# ---------------------------------------------------------------------------
# database initialization
# ---------------------------------------------------------------------------
if ! mysql -h ${NEUTRON_DATABASE_IP} -uroot -p{{ database_root_password }} neutron -e "show tables;" | grep -q neutron ;
then
  sudo -u neutron -g neutron neutron-db-manage --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/ml2_conf.ini upgrade head
fi
# ---------------------------------------------------------------------------
# create work directories
# ---------------------------------------------------------------------------
mkdir -p /var/run/neutron
chown neutron:neutron /var/run/neutron/
mkdir -p /var/lock/neutron
chown neutron:neutron /var/lock/neutron/
mkdir -p /var/cache/neutron
chown neutron:neutron /var/cache/neutron/
# ---------------------------------------------------------------------------
# start service
# ---------------------------------------------------------------------------
rm -f /var/run/monit.pid
rm -f /var/run/sshd.pid
rm -f /var/run/neutron-server.pid
rm -f /var/lib/monit/state
monit -I -c /etc/monit/monitrc
